<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add</title>
  </head>
  <body>
    <h1>Add New Camp</h1>

      <form action="/campgrounds" method="post">
        <div>
          <label for="title">Title</label>
          <input id="title" type="text" name="title">
        </div>

        <div>
          <label for="location">Location</label>
          <input id="location" type="text" name="location">
        </div>

        <button>Add Campground</button>
      </form>
    <br>

    <a href="/campgrounds">Cancel</a>
  </body>
</html>
